cloud_id                 = ""
folder_id                = ""
zone                     = "ru-central1-b"
nat_image_id             = ""
image_id                 = ""
public_key_path          = "~/.ssh/id_rsa.pub"
private_key_path         = "~/.ssh/id_rsa"
subnet_id                = ""
network_id               = ""
service_account_key_file = "key.json"
instance_size_master     = "1"
instance_size_node       = "2"
instance_size_bastion    = "1"
instance_size_ingress    = "1"
ip_bastion               = ""
